.site-footer {
	overflow 	: auto;
	padding 	: 1em;
	width 		: 100%;

	@media only screen and (min-width: $bp__menu-button+1) {
		display: none;
	}
}

.footer-wrap {
	float 		: left;
	margin 		: 0 auto;
	max-width 	: $size__max-width;
	width 		: 100%;
}

.easter-egg {
	/* Dimensions */
	height 	: 229px;
	width 	: 305px;

	/* Fixed position */
	bottom 	: -229px;
	left 	: 20%;
	position: fixed;
}

.site-info {
	float 		: left;
	font-size 	: $font__size-footer;
	font-weight : 700;
	overflow 	: auto;
	text-align 	: center;
	width 		: 100%;

	address {
		display 		: inline-block;
		font-style 		: normal;
		margin 			: 0.25em;
		text-transform 	: uppercase;

		&:first-child {
			border-right 	: 2px solid $light;
			padding-right 	: 0.65em;
		}
	}

	a {
		text-decoration: none;
	}

	.site-header & {
		bottom 	: 4em;
		display : none;
		position: fixed;

		@media only screen and (min-width: $bp__menu-button+1) {
			display: block;
			padding: 0 1em;
		}
	}

	.site-footer & {
		@media only screen and (min-width: $bp__menu-button+1) {
			display: none;
		}
	}
}

.map-link {
	font-size: 15px;
}