$size__site-main				: 100%;
$size__site-sidebar				: 235px;

$size__default-bot-marg			: 1.5em;
$size__max-width 				: 1000px;
$size__max-width2 				: 750px;

$size__author-headshot 			: 150px;
$size__author-headshot-mobile 	: 200px;
$size__blog-page-image 			: 300px;
$size__border-headshot 			: 2px;
$size__border-circle 			: 2px;
$size__employee-height 			: 150px;
$size__employee-width 			: 200px;

$bp__phone						: 320px;
$bp__menu-button				: 600px;
$bp__tablet						: 768px;
$bp__contact 					: 800px;
$bp__author-posts 				: 900px;
$bp__laptop						: 1024px;

$dccborder 						: 2px solid $orange;
$dccborderhover 				: 2px solid $gold;