$font__main 				: 'Oxygen', sans-serif;
$font__code 				: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 					: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body 	: 1.5;
$font__line-height-pre 		: 1.6;
$font__size-social 			: 40px;
$font__dccpartone 			: 'long_cool_womanregular';
$font__size-footer 			: 13px;
$font__header 				: 'Oxygen', sans-serif;

$font__supa-large 			: 70px;
$font__subtitle 			: 24px;