.authorbox {
	border-top 		: $dccborder;
	margin-bottom 	: $size__default-bot-marg;
	padding-top 	: $size__default-bot-marg;
}

.authorbox-header {
	float 		: left;
	margin-right: 1em;
}

.authorbox-headshot {
	background-repeat 	: no-repeat;
	background-position : center center;
	width 				: $size__author-headshot;
	height 				: $size__author-headshot;
	overflow 			: hidden;
}

.authorbox-bio {
	margin-bottom: 1em;
}

.authorbox-name {
	text-align 		: center;
	margin-bottom 	: 0;
}

.authorbox-blog-link {
	float: right;

	a {
		@extend %linkbutton;
	}

	.dashicons {
		text-decoration: none;
	}
}