/**
 * Home Page
 */
.home {

	.rev_slider_wrapper {
		margin-bottom 	: 3em !important;

	}

	.section-title {
		margin-bottom 	: 0.25em;
		text-align 		: center;
		width 			: 100%;
	}

	.section-subtitle {
		color 		: $light;
		font-size 	: $font__subtitle;
		font-weight : normal;
		text-align 	: center;
		width 		: 100%;
	}

	.categories {
		display 	: block;
		margin 		: 1em auto 0;
		padding 	: 0 0 1.5em;
		text-align 	: center;

		@media only screen and (min-width: $bp__author-posts) {
			padding-left 	: 3em;
			padding-right 	: 3em;
		}

		.category {
			@include margcols( 2, 1, 0.778);
			border 			: $dccborder;
			color 			: $orange;
			font-size 		: 1.5em;
			font-weight 	: 700;
			padding 		: .75em 0;
			position 		: relative;
			margin-bottom	: 0.25em;
			margin-top 		: 0.25em;
			text-align 		: center;
			text-decoration : none;
			transition 		: background $dcctrans, color $dcctrans 0.2s;

			@media only screen and (min-width: $bp__author-posts) {
				@include margcols( 3, 1, 0.778);
			}

			&:before {
				background-color: $orange;
				bottom 			: 0;
				content 		: "";
				position 		: absolute;
				left 			: 0;
				right 			: 0;
				top 			: 0;
				transform 		: scale(0);
				transition 		: transform $dcctrans;
				z-index 		: -1;
			}

			&:after {
				background-color: $transblack;
				bottom 			: 0;
				content 		: "";
				left 			: 0;
				right 			: 0;
				position 		: absolute;
				top 			: 0;
				transform 		: scale(1);
				transition 		: transform $dcctrans;
				z-index 		: -1;
			}

			&:hover {
				color 			: $light;

				&:before {
					background-color: $orange;
					transform 		: scale(1);
				}

				&:after {
					transform 		: scale(0);
				}
			}
		}
	}

	#sb_instagram {

		#sbi_images .sbi_item {
			border 			: $dccborder;
			margin-bottom 	: 1em !important;

			&:hover {
				border: $dccborderhover;
			}

			@media only screen and (max-width: 480px) {
				width: 100% !important;
			}

			@media only screen and (min-width: 481px) and (max-width: 640px) {
				width: 48% !important;

				&:nth-child(odd) {
					margin-right: 2% !important;
				}
			}

			@media only screen and (min-width: 641px) and (max-width: $bp__tablet - 1) {
				width: 48% !important;

				&:nth-child(odd) {
					margin-right: 2% !important;
				}
			}

			@media only screen and (min-width: $bp__tablet) and (max-width: $bp__author-posts - 1) {
				margin-right: 1% !important;
				width 		: 32%;

				&:nth-child(3n+3) {
					margin-right: 0 !important;
				}
			}

			@media only screen and (min-width: $bp__author-posts) {
				margin-right: 1% !important;
				width 		: 24%;
			}
		}

		#sbi_load .sbi_load_btn {
			background: $gold;
		}

		.sbi_follow_btn a {
			background-color: $orange !important;
		}

		img {
			width: 100%;
		}
	}

	.home-section {
		margin-bottom: 3em;

		&:last-child {
			margin-bottom: 0;
		}

		@media only screen and (min-width: $bp__author-posts) {
			display 	: flex;
			flex-wrap 	: wrap;
		}
	}

	.link-home-read {
		@extend %linkbutton;
		margin 	: 0 auto;
	}
}